/*************************/
/*     08. Details 1     */
/*************************/
.accordion2 .area-2 {
	height: 27rem;
	background: url('../images/details-1-background.jpg') center center no-repeat;
	background-size: cover;
}

.accordion2 .accordion2-container {
	max-width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 6.375rem;
	padding-bottom: 1.5rem;
}

.accordion2 h2 {
	margin-bottom: 1.625rem;
}

.accordion2 .item {
	margin-bottom: 2rem;
}

.accordion2 h4 {
	margin-bottom: 0;
}

.accordion2 span[kfab-expanded="true"] .circle-numbering,
.accordion2 span[kfab-expanded="false"] .circle-numbering {
	display: inline-block;
	width: 2.25rem;
	height: 2.25rem;
	margin-right: 0.875rem;
	border: 0.125rem solid #14bf98;
	border-radius: 50%;
	background-color: #14bf98;
	color: #fff;
	font: 700 1rem/2.125rem "Montserrat", sans-serif;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	transition: all 0.2s ease;
}

.accordion2 span[kfab-expanded="false"] .circle-numbering {
	border: 0.125rem solid #484a46;
	background-color: transparent;
	color: #484a46;
}

.accordion2 .item:hover span[kfab-expanded="false"] .circle-numbering {
	border: 0.125rem solid #14bf98;
	color: #14bf98;
}

.accordion2 .accordion2-title {
	display: inline-block;
	width: 70%;
	margin-top: 0.125rem;
	margin-bottom: 0.25rem;
	color: #484a46;
	font: 700 1.25rem/1.75rem "Montserrat", sans-serif;
	vertical-align: middle;
	cursor: pointer;
	transition: all 0.2s ease;
	
}

.accordion2 .item:hover .accordion2-title {
	color: #14bf98;
}

.accordion2 span[kfab-expanded="true"] .accordion2-title {
	color: #14bf98;
}

.accordion2 .accordion2-body {
	margin-left: 3.125rem;
}